<h2>Create New Landmark</h2>
<br>
<br>Name: <input type="text" id="landmark[name]" name="landmark_name">
<input type ="submit" value="Create New Landmark">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
